body {
  text-align: center;
}

#setup {
  margin-top: 2em;
  height: 15em;
  width: 35em;
  background: lightblue;
  border-radius: 1em;
  text-align: center;
  margin-bottom: 1em;
}

#stats {
  background: #ad8ce3;
  height: 5em;
  width: 35em;
  border-radius: 1em;
  text-align: center;
}

#record {
  font-size: 2.5em;
  color: #4a4a4a;
  text-align: center;
}

#board {
  margin-top: .2em;
  text-align: center;
  width: 36em;
  height: 36em;
  background-color: green;
}

td {
  height: 6em;
  width: 6em;
  background-color: #f67c84;
}

.top {
  border-top: solid .1em black;
}

.right {
  border-right: solid .1em black;
}

.bottom {
  border-bottom: solid .1em black;
}

.left {
  border-left: solid .1em black;
}

h1 {
  margin-bottom: 0em;
}

.active {
    background-color:red;
    color: white;
}

button {
  margin-bottom: 1em;
}
